---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import BookOpen from "@/components/icons/BookOpen.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import Courses from "@/components/Courses.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Porfolio Aditya Patil"
  description="Porfolio Aditya Patil"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="Experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="Courses">
      <TitleSection>
        <BookOpen class="size-7" />
        Courses & Certifications
      </TitleSection>
      <Courses />
    </SectionContainer>

    <SectionContainer id="AboutMe">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About Me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
