---
 const personalImageAlt = "Aditya Patil"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is <strong>Aditya Patil</strong>, but my friends call me <strong>Adi</strong>. I started my tech journey with Python and quickly fell in love with building things that make an impact.
    </p>

    <p>
      I'm currently <strong>exploring the intersection of backend development, AI, and mobile apps</strong>.
    </p>

    <p>
      Some of my recent work includes <strong>developing intelligent web apps using Flutter and Python</strong>, and contributing to open-source and academic projects focused on real-world problem solving.
    </p>

    <p>
      I'm passionate about <strong>clean code, automation, and building scalable backend systems</strong>.
    </p>

    <p>
      As a self-taught engineer, <em>I love sharing practical projects and building tools that combine Data Science with great UX.</em>
    </p>

    <p>
      My goal is to continue learning, collaborating, and building tech that solves meaningful problems.
    </p>
  </div>

  
</article>

