---
// Profile initial avatar
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import DownloadIcon from "@/components/icons/Download.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4 items-center">
    <div class="flex items-center justify-center w-16 h-16 text-2xl font-bold text-white bg-gradient-to-br from-blue-500 to-blue-700 rounded-full shadow-lg">
      AP
    </div>
    <a
      href="https://www.linkedin.com/in/aditya-patil-8a2211361/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
   Hey, Aditya Patil
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 years of experience. <strong
      >Tech Explorer and Self-Taught Engineer</strong
    > from India. Specialized in building intelligent web apps using <strong>Flutter, Python.</strong>
    Focused on <strong>real-world solutions</strong> in  <strong>Data Science, Machine Learning</strong>, and clean UX/UI design.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:adityapatil4587@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/aditya-patil-8a2211361/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="/resume.pdf" download>
      <DownloadIcon class="size-4" />
      Resume
    </SocialPill>
  </nav>
</div>
